main {
    height: 100vh;
}
form {
    width: 300px;
}
body{
    background-color: aliceblue;
}
#boot{
    background-color: bisque;
    padding-top: 5%;
}
#save-button{
    background-color: brown;
    padding-top: 5%;

}